@tailwind base;
@tailwind components;
@tailwind utilities;


.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield; /* For Firefox */
}

.message {
  display: inline-block;
  word-wrap: break-word;  /* Ensure long words break and wrap */
  overflow-wrap: break-word; /* Compatibility for older browsers */
  max-width: 50%;  /* Limit the max width to half of the container */
  background-color: #f0f0f0; /* Add some background color */
  padding: 10px;
  border-radius: 10px;
}