@tailwind base;
@tailwind components;
@tailwind utilities;


.message {
  display: inline-block;
  word-wrap: break-word;  /* Ensure long words break and wrap */
  overflow-wrap: break-word; /* Compatibility for older browsers */
  max-width: 50%;  /* Limit the max width to half of the container */
  background-color: #f0f0f0; /* Add some background color */
  padding: 10px;
  border-radius: 10px;
}

.customScroll {
  &::-webkit-scrollbar {
    width: 5px;height: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;background-color: #a5d9e7;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;background-color: #ffffff;
  }

  @media (prefers-color-scheme: dark) {
    &::-webkit-scrollbar-track {
      background-color: #a5d9e7;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ffffff;
    }
  }
}